/* Footer.css */
footer {
    margin-left: -270px;
    position: relative;
    bottom: 0;
    color: #ffffff;
    width: 160%;
    background-color: rgb(52, 52, 52);
    padding: 10px;
    text-align: center;
    transition: all 0.5s ease;
  }
  
  .contact-info,
  .important-pages {
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  